body {
  font-family: -apple-system, BlinkMacSystemFont, 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: linear-gradient(to left top, #000000, #0a0407, #0f0811, #0f0e19, #0b131f);
  background-size: 600%;
}
